.div-treepage-full{
    display: flex;
  justify-content: space-between;
}
.div-img-ball1{
    position: absolute;
    cursor: move;
    margin: auto;
    user-select: none;
    height: 50px;
    width: 50px;
    background-image: url('../assets/image/xball1.png');
    background-position:center;
    
}
.div-tree{
    /*posision fixed 상태에서 가운데정렬 하는 법. */
    position: fixed;
    left:50%;
    transform: translate(-50%,0);

    margin-top: 140px;
    margin-bottom: 30px;
    height:600px;
    width: 400px;
    background-size: 400px;
    
}
.div-treeSection{
    border: 1px solid blue;
    width: 500px;
    height: 600px;
}
.div-decoSection{
    width: 200px;
    height: 90px;
    border: 1px solid blue;
}
.img-tr{
    position:  relative;
    
    height: 1200px;
    width: 800px;

}