.div-yellowneon{
    /*posision fixed 상태에서 가운데정렬 하는 법. */
    position: fixed;
 

    margin-top: 80px;
    margin-bottom: 30px;
    height:600px;
    width: 400px;
    background-size: 400px;
    
    
}
.div-snow1{
    /*posision fixed 상태에서 가운데정렬 하는 법. */
    position: fixed;
 

    margin-top: 80px;
    margin-bottom: 30px;
    height:600px;
    width: 400px;
    background-size: 400px;
    
    
}
.div-flowerneon{
    /*posision fixed 상태에서 가운데정렬 하는 법. */
    position: fixed;
 

    margin-top: 80px;
    margin-bottom: 30px;
    height:600px;
    width: 400px;
    background-size: 400px;
    
    
}
.div-redneon{
    /*posision fixed 상태에서 가운데정렬 하는 법. */
    position: fixed;
 

    margin-top: 80px;
    margin-bottom: 30px;
    height:600px;
    width: 400px;
    background-size: 400px;
    
    
}
.div-treepage-full{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
  justify-content: space-between;
}
.div-img-ball1{
    position: absolute;
    cursor: move;
    margin: auto;
    user-select: none;
    height: 50px;
    width: 50px;
    background-image: url('../assets/image/xball1.png');
    background-position:center;
    
}
.div-tree{
    /*posision fixed 상태에서 가운데정렬 하는 법. */
    position: fixed;
    
 
    margin-top: 80px;

    height:600px;
    width: 400px;
    background-size: 400px;
    
}
.div-treeSection{
    border: 3px solid blue;
    width: 510px;
    height: 600px;
}
.div-decoSection{
    margin-top: 80px;
    margin-left: 30px;
    width: auto;
    height: 500px;
    border: 3px solid skyblue;
    
}

.btn-download{
    background-color: black; /* Red */
    border: none;
    width: 120px;
    height: 90px;

    background-image: url(../assets/image/camera.png);
    background-size: cover;
}
.btn-download:active{
    content: "download";
    background-image: url(../assets/image/944290.gif);
}
.img-tr{
    position:  relative;
    
    height: 1200px;
    width: 800px;

}

.p-snowman,.p-snow,.p-santa{
    font-size: 3rem;

}
.div-section{
    
    display: flex;
}
.div-tooltip{
margin-top: 40px;
    justify-content: center
    
    
    

}
